# Variáveis de Ambiente para o Frontend (Vercel/Produção)
VITE_API_URL=
VITE_SOCKET_URL=

# Variáveis do Backend
PORT=3000
MONGODB_URI=
# Configuração do Banco de Dados (Neon/PostgreSQL)
# DATABASE_URL="postgres://usuario:senha@ep-id-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
DATABASE_URL=
JWT_SECRET=
