# Variáveis de Ambiente para o Frontend (Vercel/Produção)
# Aponte para a URL do seu backend (ex: https://seu-backend.railway.app)
VITE_API_URL=
VITE_SOCKET_URL=

# Variáveis do Backend
PORT=3000
MONGODB_URI=
JWT_SECRET=
